form{
    margin: 20px;
    padding: 20px;
    font-size: 35px;
    background-color: bisque;
    color: antiquewhite;
    border-color: #8c7fff;
    background-image: url("../assets/images/pink bouquet.jpg");
    text-align:centre;


}